body{
    margin:0;
    height: 100%;
    padding: 0px;
    overflow: hidden;
}

.index{
    background-image: url("../assets/media/bg0.jpg");
    background-size: cover;
}

.nav{
    background-color:rgb(22, 22, 22);
    padding: 30px;
    border-bottom: 3px solid white;
}

.nav-item{
    padding: 10px;
}

ul{
    font-size: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.title{
    color: white;
    font-size: 4rem;
    margin-top: 20rem
}

.btn-danger{
    color: white;
    padding: 1.5rem;
    margin: 40px;
    font-size: 1.7rem;
    padding-right: 3rem;
    padding-left: 3rem
}